<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field fxFlexOffset="10px">
      <input
        type="email"
        matInput
        ngModel
        name="email"
        placeholder="Your email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >E-Mail is invalid.</mat-error
      >
    </mat-form-field>
    <mat-form-field
      fxFlexOffset="10px"
      hintLabel="Should be at least 6 characters long."
    >
      <input
        type="password"
        matInput
        ngModel
        name="password"
        placeholder="Your password"
        minlength="6"
        required
        #pwInput="ngModel"
      />
      <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>
    <mat-form-field fxFlexOffset="10px">
      <mat-label>Your birthdate</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        ngModel
        name="birthdate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker required></mat-datepicker>
    </mat-form-field>
    <mat-checkbox
      fxFlexOffset="10px"
      ngModel
      name="Agree"
      color="primary"
      required
      >Agree to Terms and Condition</mat-checkbox
    >
    <button  *ngIf="!(isLoading$ | async)" 
      fxFlexOffset="25px"
      mat-raised-button
      [disabled]="f.invalid"
      color="primary"
      type="submit"
    >
      submit
    </button>
    <mat-spinner *ngIf="(isLoading$ | async)" ></mat-spinner>
  </form>
</section>
